@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi proyecto de ABM de Productos</h1>
    <p> Este es un proyecto lo hice de la manera mas simple debido a mi limitado conocimiento sobre HTML y CSS</p>
    <p>Aun asi espero que le guste.</p>
</div>
